<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Acupuntura{% endblock %}</title>
    {# Load the tag library #}
    {% load colores_del_sitio %}
    {% load bootstrap4 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'colorfield/colorfield.js' %}"></script>
  </head>
  <body>
    <style>
      .select{
        border-radius: 3rem;
        }
      .textinput   {
        border-radius: 3rem;
        }
      .input   {
        border-radius: 3rem;
        }
      .pleca {
       background-color: {% get_color 'pleca' %};
      };      
      .menupleca {
        background-color: {% get_color 'menu' %};
      };
    </style>
    <nav class="navbar navbar-expand-lg sticky-top pleca" >
      {% if user.is_authenticated %}
        {% include 'menu.html' %}
      {% else %}      
      <div class="form-inline navbar-nav ml-auto" action="/action_page.php">
        <a class="btn btn-success" href="{% url 'login' %}">Ingresar</a>
      </div>
      {% endif %}
    </nav>

    <div class="vh-100 w-75 container-fluid align-items-center"
    style="background-color: {% get_color 'fondo' %};">
      {% block content %} {% endblock %}
    </div>

  </body>
</html>
