<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}


<h3 class="card-title">{{ titulo }}</h3>

<form enctype="multipart/form-data"  method="post">
    {% csrf_token %} {% crispy form %}
    <div class="col text-center">
        <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info" id="submit-save">
        <a class="btn btn-secondary" href="{% url 'lista_puntos' %}">Regresar</a>
    </div>

    <div class="row" style="max-width: 100%;">
        <div class="col-sm-1">
			<ul class="nav nav-pills" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="pill" href="#Documentos">Documentos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Imagenes">Imagen</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Videos">Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Localizacion">Localizacion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#ImagenLoc">Imagen Localizacion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Enfermedades">Enfermedades</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Significados">Significado</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Caracteristicas">Caracteristicas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="pill" href="#Sintomas">Sintomas</a>
				</li>
			</ul>
        </div>

        <div class="col-sm-11 tab-content">

            <div  id="Documentos" class="container tab-pane active">
                {% with documentos as formset %}  
            
                    {{ formset.management_form }}
                    {{ formset.non_form_erros }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}

                        {{ formss.form_erros }}
                        {{ formss|crispy }}
                    {% endfor %}

                {% endwith %}

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info" >
                </div>
            </div>

            <div  id="Imagenes" class="container tab-pane fade">
                {% with imagenes as formset %}  
            
                    {{ formset.management_form }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}
                    <div class="row">
                        <div class="col-4">
                            {{ formss|crispy }}
                        </div>
                        <div class="col-8">
                            <img src="/media/{{ formss.instance.ligaimagen }}" 
                            alt="{{ formss.instance.ligaimagen }}" width="500" >
                        </div>
                        </div>
                    {% endfor %}
        
                {% endwith %}

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info" >
                </div>
            </div>

            <div id="Caracteristicas" class="container tab-pane fade">
                {% with caracteristicas as formset %}  
            
                    {{ formset.management_form }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss|crispy }}
                    {% endfor %}
        
                {% endwith %}
                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info" >
                </div>
            </div>

            <div id="Significados" class="container tab-pane fade">
                
                {% with significados as formset %}  
            
                    {{ formset.management_form }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss|crispy }}
                    {% endfor %}
        
                {% endwith %}

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info">
                </div>
            </div>

            <div id="Enfermedades" class="container tab-pane fade">
                
                {% with enfermedades as formset %}  
            
                    {{ formset.management_form }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}
                         {{ formss|crispy }}
                    {% endfor %}
        
                {% endwith %}

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info" >
                </div>
            </div>

            <div id="ImagenLoc" class="container tab-pane fade">
                
                {% with imagen_localizaciones as formset %}  
            
                    {{ formset.management_form }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss|crispy }}
                    {% endfor %}
        
                {% endwith %}

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info" >
                </div>
            </div>

            <div id="Localizacion" class="container tab-pane fade">
                {% with localizaciones as formset %}  
            
                    {{ formset.management_form }}
                    
                    {% for fields in formset.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in formset %}
                         {{ formss|crispy }}
                    {% endfor %}
        
                {% endwith %}

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info">
                </div>
            </div>

            <div id="Videos" class="container tab-pane fade">                
                  
            
                    {{ videos.management_form }}
                    
                    {% for fields in videos.empty_form.hidden_fields %}
                        {{ fields }}
                    {% endfor %}
                    {% for formss in videos %}
                    <div class="row">
                        {{ formss|crispy }}
                    </div>
                    {% endfor %}
        

                <div class="col text-center">
                    <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info">
                </div>
            </div>



            <div id="Sintomas" class="container tab-pane fade">                
                  
            
                {{ sintomas.management_form }}
                
                {% for fields in sintomas.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}
                {% for formss in sintomas %}
                <div class="row">
                    {{ formss|crispy }}
                </div>
                {% endfor %}
    

            <div class="col text-center">
                <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-info">
            </div>
        </div>


        </div>        
    
    </div>
</form>


{% endblock %}

