<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<script>
    var anterior = "1";
    cambia = function (actual) {      
        if(actual != anterior){
        $('#form' + anterior).toggle();
        $('#form' + anterior).parent().removeClass("active");
        $('#form' + actual).toggle();
        $('#form' + actual).parent().addClass("active");
        anterior = actual;
    }  
    }
</script>
<div class="card shadow-lg">
    <h3 class="card-title">{{ titulo }}</h3>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %} {% crispy form1 %}

            <div class="col text-center">
                <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-primary" id="submit-save">
                <a class="btn btn-danger" href="{{request.META.HTTP_REFERER|escape}}">Regresar</a>
            </div>
        </form>


        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a onclick="cambia(2);">Significado</a></li>
            <li class="breadcrumb-item"><a onclick="cambia(3);">Imagen</a></li>
            <li class="breadcrumb-item"><a onclick="cambia(4);">Otro</a></li>
            <li class="breadcrumb-item"><a onclick="cambia(5);"></a>Localizacion</li>
        </ul>


        <form id="form2" action="" method="POST" style="display: none;">
            {% csrf_token %} {{ form2|crispy }}

            <div class="col text-center">
                <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-primary" id="submit-save2">
            </div>
        </form>
        <form id="form3" action="" method="POST" style="display: none;">
            {% csrf_token %} {{ form3|crispy }}

            <div class="col text-center">
                <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-primary" id="submit-save3">
            </div>
        </form>
        <form id="form4" action="" method="POST" style="display: none;">
            {% csrf_token %} {{ form4|crispy }}

            <div class="col text-center">
                <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-primary" id="submit-save4">
            </div>
        </form>
        <form id="form5" action="" method="POST" style="display: none;">
            {% csrf_token %} {{ form5|crispy }}

            <div class="col text-center">
                <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-primary" id="submit-save5">
            </div>
        </form>
    </div>
</div>




</div>

{% endblock %}